depr/**/*.h5
data/training_results/**/*.h5
model_training/data/cifar-10-python.tar.gz
model_training/CIFAR/data/cifar-10-python.tar.gz
model_training/data/**/*.h5
depr/CIFAR/**/*.h5
.depr/**/*.h5
*.h5
*.tar.gz

test.ipynb

.DS_Store

.git/lfs/
depr/MNIST/FC10/fc10_gaussian_remore_sgd_v2_log.h5
depr/MNIST/FC10/fc10_gaussian_hill_sum_sgd_log.h5
depr/MNIST/FC10/fc10_gaussian_scaled_outlier_sgd_log.h5
depr/MNIST/FC10/fc10_gaussian_none_sgd_log.h5
depr/MNIST/FC10/fc10_gaussian_alpha_sgd_log.h5
depr/MNIST/FC10/fc10_gaussian_hill_sum_weighted_sgd_log.h5
depr/MNIST/FC10/fc10_gaussian_none_adam_log.h5
depr/MNIST/FC10/fc10_gaussian_remore_sgd_log.h5
depr/MNIST/FC10/fc10_gaussian_soft_outlier_sgd_log.h5
depr/MNIST/FC10/fc10_gaussian_hill_sgd_log.h5
depr/MNIST/FC10/fc10_gaussian_lasso_sgd_log.h5
depr/fc4_gaussian_none_sgd_log.h5
depr/fc10_gaussian_none_sgd_log.h5
depr/fc10_gaussian_none_sgd_cifar_log.h5
depr/fc4_gaussian_hill_sgd_log.h5
depr/fc4_gaussian_parabolic_hill_sgd_log.h5
depr/fc4_gaussian_lasso_sgd_log.h5
depr/CIFAR/FC10/fc10_gaussian_none_sgd_cifar_log.h5
depr/CIFAR/FC4/fc4_gaussian_none_sgd_cifar_log.h5
data/training_results/MNIST/FC10/fc10_mnist_None_sgd_mnist_log.h5
data/training_results/MNIST/FC10/fc10_mnist_parabolic_hill_sgd_mnist_log.h5
data/training_results/MNIST/FC10/fc10_mnist_lasso_sgd_mnist_log.h5
data/training_results/MNIST/FC10/fc10_mnist_xiao_sgd_mnist_log.h5
data/training_results/MNIST/FC10/fc10_mnist_hill_sgd_mnist_log.h5
data/training_results/MNIST/FC3/sgd/fc3_mnist_xiao_sgd_mnist_log.h5
data/training_results/MNIST/FC3/sgd/fc3_mnist_hill_sgd_mnist_log.h5
data/training_results/MNIST/FC3/sgd/fc3_mnist_parabolic_hill_layer1_sgd_log.h5
data/training_results/MNIST/FC3/sgd/fc3_mnist_decay_sgd_mnist_log.h5
data/training_results/MNIST/FC3/sgd/fc3_mnist_lasso_sgd_mnist_log.h5
data/training_results/MNIST/FC3/sgd/fc3_mnist_parabolic_hill_layer3_sgd_log.h5
data/training_results/MNIST/FC3/sgd/fc3_mnist_None_sgd_mnist_log.h5
data/training_results/MNIST/FC3/sgd/fc3_mnist_parabolic_hill_sgd_mnist_log.h5
data/training_results/MNIST/FC3/sgd/fc3_mnist_parabolic_hill_sgd_mnist_log_all_layers.h5
data/training_results/MNIST/FC3/sgd/fc3_mnist_parabolic_hill_layer2_sgd_log.h5
data/training_results/MNIST/FC3/sgd/fc3_mnist_ridge_sgd_log.h5
data/training_results/MNIST/FC3/adam/fc3_mnist_ridge_adam_mnist_log.h5
data/training_results/fc3_mnist_xiao_sgd_mnist_log.h5
data/training_results/fc3_mnist_hill_sgd_mnist_log.h5
data/training_results/fc3_mnist_decay_sgd_mnist_log.h5
data/training_results/fc3_mnist_lasso_sgd_mnist_log.h5
data/training_results/fc3_cifar_xiao_sgd_cifar_log.h5
data/training_results/fc3_mnist_None_sgd_mnist_log.h5
data/training_results/CIFAR/FC3/fc3_cifar_parabolic_hill_sgd_cifar_log.h5
data/training_results/CIFAR/FC3/fc3_cifar_hill_sgd_cifar_log.h5
data/training_results/CIFAR/FC3/fc3_cifar_lasso_sgd_cifar_log.h5
data/training_results/CIFAR/FC3/SGD/fc3_cifar_parabolic_hill_spec_layers2_sgd_cifar_log.h5
data/training_results/CIFAR/FC3/SGD/fc3_cifar_ridge_sgd_cifar_log.h5
data/training_results/CIFAR/FC3/SGD/fc3_cifar_parabolic_hill_sgd_cifar_log.h5
data/training_results/CIFAR/FC3/SGD/fc3_cifar_hill_sgd_cifar_log.h5
data/training_results/CIFAR/FC3/SGD/fc3_cifar_lasso_sgd_cifar_log.h5
data/training_results/CIFAR/FC3/SGD/fc3_cifar_parabolic_hill_spec_layers0_sgd_cifar_log.h5
data/training_results/CIFAR/FC3/SGD/fc3_cifar_parabolic_hill_spec_layers1_sgd_cifar_log.h5
data/training_results/CIFAR/FC3/SGD/fc3_cifar_None_sgd_cifar_log.h5
data/training_results/CIFAR/FC3/fc3_cifar_None_sgd_cifar_log.h5
data/training_results/CIFAR/FC3/adam/fc3_cifar_parabolic_hill_spec_layers1_adam_cifar_log.h5
data/training_results/CIFAR/FC3/adam/fc3_cifar_hill_adam_cifar_log.h5
data/training_results/CIFAR/FC3/adam/fc3_cifar_parabolic_hill_spec_layers0_adam_cifar_log.h5
data/training_results/CIFAR/FC3/adam/fc3_cifar_parabolic_hill_spec_layers2_adam_cifar_log.h5
data/training_results/CIFAR/FC3/adam/fc3_cifar_lasso_adam_cifar_log.h5
data/training_results/CIFAR/FC3/adam/fc3_cifar_parabolic_hill_adam_cifar_log.h5
data/training_results/CIFAR/FC3/adam/fc3_cifar_ridge_adam_cifar_log.h5
data/training_results/CIFAR/FC3/adam/fc3_cifar_None_adam_cifar_log.h5
