data/* filter=lfs diff=lfs merge=lfs -text
test_MNIST_train_data.pickle filter=lfs diff=lfs merge=lfs -text
test_MNIST_weights.pth filter=lfs diff=lfs merge=lfs -text
test.ipynb filter=lfs diff=lfs merge=lfs -text
depr/MNIST/FC10/fc10_gaussian_remore_sgd_v2_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/MNIST/FC10/fc10_gaussian_hill_sum_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/MNIST/FC10/fc10_gaussian_scaled_outlier_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/MNIST/FC10/fc10_gaussian_none_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/MNIST/FC10/fc10_gaussian_alpha_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/MNIST/FC10/fc10_gaussian_hill_sum_weighted_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/MNIST/FC10/fc10_gaussian_none_adam_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/MNIST/FC10/fc10_gaussian_remore_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/MNIST/FC10/fc10_gaussian_soft_outlier_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/MNIST/FC10/fc10_gaussian_hill_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/MNIST/FC10/fc10_gaussian_lasso_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/fc4_gaussian_none_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/fc10_gaussian_none_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/fc10_gaussian_none_sgd_cifar_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/fc4_gaussian_hill_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/fc4_gaussian_parabolic_hill_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/fc4_gaussian_lasso_sgd_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/CIFAR/FC10/fc10_gaussian_none_sgd_cifar_log.h5 filter=lfs diff=lfs merge=lfs -text
depr/CIFAR/FC4/fc4_gaussian_none_sgd_cifar_log.h5 filter=lfs diff=lfs merge=lfs -text
model_training/data/cifar-10-python.tar.gz filter=lfs diff=lfs merge=lfs -text
model_training/CIFAR/data/cifar-10-python.tar.gz filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/d0/6b/d06bbbed8aa56b355a7405bcc397ff97c485c9cddf4903d45e433140f28af00c filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/a5/7f/a57f5f76b79c04b3533fe5bf380f8035a5d329e59aefb2faa8f4b9bdaa4ec3cc filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/ae/6d/ae6db61e23ecc48a316c2b72e7157d71a7751d2ddf4d0dc62faf06a603073bfe filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/f3/c7/f3c7449bf4b10911f0c2d569f5c6b88ce4d3cf31ee9e45688b2b9833c78f1352 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/fb/b9/fbb9b61154ab8f417137c1f981a2f993be5c32f11ea2c31ed0b2836f8409a07a filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/1f/02/1f0299fa1b58efb787359a7e9aea566cb071411456b54955befb6b9d78ea43cd filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/75/fc/75fce2f58efc8e648e6d22a9dd14b2b477b4f2384b03fb6eab4cfa9c9981963b filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/2f/75/2f75f72840005544901597028c741eeeb3eca1c45b31992e6e11d9a28e778a51 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/00/97/0097cf88ba8229712e0e0244c242cd76abd1392bd0e321ed8e7f9e6253fdc6e0 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/98/0c/980c9834460b0ec42250977ecb18e9e8c98299c9ba176313bf10dd195a12be62 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/b9/44/b944387ef6955d6950e1b258088b3e2544b51a0457b05f549d4556cfc32c427d filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/c4/f8/c4f8ad491eb3a3190d576fc890f378a44b31955f333d70c4e00777b117637ffb filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/f6/98/f69841a8e2a816382bfa99c94e7e0b3694b77acfdc75d0f8f1afcf7d7fa436e7 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/1b/ce/1bced80395474fb694be21f17e110eaea9ee8ec11b9afd22fae5606160f51868 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/82/fe/82fe7b89276617a9caa42384d959728e75d944a6818adab2b04163164bedc5ff filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/14/0a/140a456da6fe75ec5c7ef8352eb26cee3135d113af62a93a8c0d2aafe4021f4b filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/25/61/2561349b26a99d9d240fb278ea461428a153f04a71140198111c53bb075b5cc9 filter=lfs diff=lfs merge=lfs -text
data/training_results/MNIST/FC10/fc10_mnist_None_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/MNIST/FC10/fc10_mnist_parabolic_hill_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/MNIST/FC10/fc10_mnist_lasso_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/MNIST/FC10/fc10_mnist_xiao_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/MNIST/FC10/fc10_mnist_hill_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/MNIST/FC3/sgd/fc3_mnist_xiao_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/MNIST/FC3/sgd/fc3_mnist_hill_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/MNIST/FC3/sgd/fc3_mnist_decay_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/MNIST/FC3/sgd/fc3_mnist_lasso_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/MNIST/FC3/sgd/fc3_mnist_None_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/MNIST/FC3/sgd/fc3_mnist_parabolic_hill_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/fc3_mnist_xiao_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/fc3_mnist_hill_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/fc3_mnist_decay_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/fc3_mnist_lasso_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/fc3_mnist_None_sgd_mnist_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/fc3_mnist_parabolic_hill_sgd_mnist_log_all_layers.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/CIFAR/FC3/fc3_cifar_parabolic_hill_sgd_cifar_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/CIFAR/FC3/fc3_cifar_hill_sgd_cifar_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/CIFAR/FC3/fc3_cifar_lasso_sgd_cifar_log.h5 filter=lfs diff=lfs merge=lfs -text
data/training_results/CIFAR/FC3/fc3_cifar_None_sgd_cifar_log.h5 filter=lfs diff=lfs merge=lfs -text
